<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lv.mapper.SkuMapper" >
	<insert id="insert_sku" useGeneratedKeys="true" keyColumn="id" keyProperty="id" 
	parameterType="com.lv.bean.T_MALL_SKU">
		insert into t_mall_sku(shp_id,kc,jg,sku_mch,kcdz)
		values(
		#{shp_id},
		#{kc},
		#{jg},
		#{sku_mch},
		#{kcdz}
		)
		
	</insert>
	
	<insert id="inset_sku_av" parameterType="Map">
		insert into t_mall_sku_attr_value(shxm_id,shxzh_id,shp_id,sku_id)
		values
		<foreach collection="list_av" item="av" separator=",">
			(
				#{av.shxm_id},
				#{av.shxzh_id},
				#{shp_id},
				#{sku_id}
			)
		
		</foreach>
		
	
		
	</insert>
	
</mapper>