<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lv.mapper.SpuMapper" >
	<select id="select_Spu_list" parameterType="Map" resultType="com.lv.bean.T_MALL_PRODUCT">
	select * from t_mall_product where pp_id=#{pp_id} and flbh2=#{flbh2}
	
	</select>


	<insert id="insertSpu" useGeneratedKeys="true" keyColumn="id" keyProperty="id" >
		insert into t_mall_product(shp_mch,shp_tp,flbh1,flbh2,pp_id,shp_msh) 
		values(#{shp_mch},#{shp_tp},#{flbh1},#{flbh2},#{pp_id},#{shp_msh})
		
		
	</insert>
	
	<insert id="insertSpuImg">
		insert into t_mall_product_image(shp_id,url)
		values
		<foreach collection="upload_image" item="image" separator=",">
		
			(#{shp_id},#{image})
		</foreach>
	
	</insert>
	
</mapper>